body {
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}


h2 {
    color: #AA5439;
    text-align: center;
    border: 5px solid rgba(255, 190, 170, 0.5);
    cursor: pointer;
}

p {
    color: pink;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}


